
.navbar{
    background-color: #8875ce;
    
}


th {
    text-align: center;
}

td{
    text-align: right;
}

table, th, td {
    border: 2px solid #000;
}

.schedule {
    height: 1em;
    
}

#days {
    width: 25%;
}

#calendar {
    
}