body {
    margin: 0;
    font-family: Verdana;
  }
  
  li {
    list-style:none;
    color:#000;
    font-size:1.2em;
    border: 
  }

  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #1f2e84;
    width: 200px;
    height: 2em;
    font-size: .75em;
    color:#000;
    margin-bottom: 15px;
  } 
  
  .inputForm {
    height: 80px;
    width: 100%;
    display: flex;
  }
  
  .scheduleInput {
    flex-direction: horizontal;
  }