
<!doctype html>
<html>

    <head>
        <% include ../partials/head.ejs %> 
    </head>

        <body>
            <div class="text-center pt-3">
                    <div id ="existing-member" style="display:block;">
                        <h4>Already a Member?</h4>
                        <div class="buttons">
                            <button onclick="showLoginForm()" id="log-in-button" class="btn btn-secondary mb-2">Log in</button>
                        </div>   
                    </div>
                    <div id="sign-up" style="display:block;">
                            <h4>New Member?</h4>
                            <div class="buttons">
                                <button onclick="showSignUpForm()" id="sign-up-button" class="btn btn-secondary mb-2">Sign up</button>
                            </div>
                    </div>
            </div>

            <div class="main-wrapper h-100 shadow-lg container-fluid  d-flex flex-column align-items-center text-center">
            
                <div id="auth-box" class="auth-box shadow-lg p-3 mt-3" style="display:none;">

                        <div id="sign-up-form" class="col text-center" style="display:none;">

                                    <label for="sign-up-username">Username</label>
                                    <input required="true" type="text" class="form-control" id="sign-up-username" name="sign-up-username" placeholder="username"> 
                            
                                    <label for="sign-up-email">Email address</label>
                                    <input required="true" type="email" class="form-control" id="sign-up-email" name="sign-up-email" placeholder="email@inbox.com">                      

                                    <label for="sign-up-password">Password</label>
                                    <input required="true" type="password" class="form-control" id="sign-up-password" name="sign-up-password" placeholder="Password">

                                    
                                    <div  onclick="createNewAccount()" id="create-account-button" class=" mt-4 btn btn-secondary btn-block">Sign Up</div>
                                    <button  onclick="cancel()" class=" mt-4 mb-4 btn btn-secondary btn-block">Cancel</button>
                        </div>

                        <div id="log-in-form" class="col text-center mt-2" style="display:none;">
                            
                                    <label for="login-email">Email</label>
                                    <input type="email" class="form-control" id="login-email" name="login-email" placeholder="">                      
                               

                                    <label for="login-password">Password</label>
                                    <input type="password" class="form-control" id="login-password" name="login-password" placeholder="">
                                
                                    <button  onclick="loginToExistingAccount()" class=" mt-4 btn btn-secondary btn-block">Log in</button>
                                    <button  onclick="cancel()" class="btn btn-secondary btn-block">Cancel</button>
                        </div>

                    </div>
                </div> 
            <div class="footer" style="position:absolute; bottom:0;">
                 <% include ../partials/footer.ejs %>
            </div>
                
            <% include ../partials/scripts.ejs %>
    </body>
