<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>


<body>

    
    <div class="title">
        <div class="container1">
            <h1>MOM'D</h1>
            <h4>for hot mess moms with hot mess families</h4>
            <div class="d-flex align-item-center justify-content-center"> 
                <button type="button" class="sign-in-btn"><a href="/login">LOGIN</a></button>
                
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container2">
            <h2>WHAT WE DO</h2>
        <div class="container3">
            <p>We all know moms are superwomen. They juggle a million things at once and remember what each member of the family has to do everyday, but even superwomen need help.
                Mom'd is the sidekick that every person needs! Mom'd takes each event and task you have for each one of your family members and schedules how long each event will take.
                 Never miss a task or events again and plan your day efficiently. Try your new favorite sidekick by clicking on the login button!
            </p>
        </div>
        </div>
    </div>

<div class="footer">
        <% include ../partials/footer.ejs %>
</div>
    
 
<% include ../partials/scripts.ejs %>      
</body>
</html>