<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>


<body>

    
    <div class="title">
        <div class="container1">
            <h1>MOM'D</h1>
            <h4>for hot mess moms with hot mess families</h4>
            <div class="d-flex align-item-center justify-content-center"> 
                <button type="button" class="sign-in-btn"><a href="/login">LOGIN</a></button>
                
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container2">
            <h2>WHAT WE DO</h2>
        <div class="container3">
            <p>Cupcake ipsum dolor sit amet. Soufflé apple pie icing pudding cookie pastry danish. Jelly beans oat cake marzipan topping lemon drops macaroon cupcake fruitcake chocolate cake. Tart dessert chocolate. Apple pie danish pudding. Dessert sesame snaps bonbon gummi bears ice cream. Lollipop sweet icing. Chupa chups bonbon cake bear claw apple pie. Tootsie roll sugar plum biscuit toffee icing. Muffin gingerbread apple pie gingerbread lemon drops dessert jujubes soufflé lemon drops. Powder macaroon lemon drops jujubes. Gummi bears wafer lollipop cake liquorice. Candy wafer marshmallow tart bonbon fruitcake fruitcake wafer. Jujubes bear claw halvah jelly-o jelly beans.</p>
        </div>
        </div>
    </div>

<div class="footer">
        <% include ../partials/footer.ejs %>
</div>
    
 
<% include ../partials/scripts.ejs %>      
</body>
</html>